<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= line_chart @orders_num %>


<div class="container-fluid">

<div class="row">

<div class="col-md-6">

  <h5> <div class="text-center"> Purchase history </div></h5>

  <table class="table table-striped table-bordered">
    <tr>
      <th class="center">Item</th>
      <th class="center">Name</th>
      <th class="center">Price</th>
      <th class="center">Company</th>
      <th class="center">Date purchased</th>
    </tr>

  <% @purchases.each do |purchase| %>
      <tr>
        <td><%= image_tag purchase.listing.image_url(:thumb) %></td>
        <td><%= purchase.listing.name %></td>
        <td><%= number_to_currency(purchase.listing.price) %></td>
        <td><%= purchase.seller.name %></td>
        <td><%= purchase.created_at.strftime("%B %-d, %Y") %>  </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="col-md-6">

   <h5> <div class="text-center"> Sold history</div> </h5>

  <table class="table table-striped table-bordered">
    <tr>
      <th class="center">Item</th>
      <th class="center">Name</th>
      <th class="center">Price</th>
      <th class="center">Buyer name</th>
      <th class="center">Date Sold</th>
    </tr>

  <% @orders.each do |order| %>
      <tr>
        <td><%= image_tag order.listing.image_url(:thumb) %></td>
        <td><%= order.listing.name %></td>
        <td><%= number_to_currency(order.listing.price) %></td>
        <td><%= order.buyer.name %></td>
        <td><%= order.created_at.strftime("%B %-d, %Y") %>  </td>
      </tr>
    <% end %>
  </table>
</div>



</div>
</div>


<br>
<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path %>
<% end %>


