<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>


<div class="container-fluid">

<div class="row">

<div class="col-md-6">

  <h5> <div class="text-center"> Purchase history </div></h5>

<%= line_chart [
  { name: "購入数", data: @purchases_num },
  { name: "購入額", data: @purchases_amount }
] %>


  <table class="table table-striped table-bordered">
    <tr>
      <th class="center">Item name</th>
      <th class="center">Price</th>
      <th class="center">Company</th>
      <th class="center">Date purchased</th>
    </tr>

  <% @purchases.each do |purchase| %>
      <tr>
        <td><%= link_to purchase.listing.name, listing_path(purchase.listing) %></td>
        <td><%= number_to_currency(purchase.listing.price) %></td>
        <td><%= purchase.seller.name %></td>
        <td><%= purchase.created_at.strftime("%B %-d, %Y") %>  </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="col-md-6">

   <h5> <div class="text-center"> Sold history</div> </h5>


<%= line_chart [
  { name: "販売数", data: @orders_num },
  { name: "販売額", data: @orders_amount }
] %>



  <table class="table table-striped table-bordered">
    <tr>
      <th class="center">Item name</th>
      <th class="center">Price</th>
      <th class="center">Buyer name</th>
      <th class="center">Date Sold</th>
    </tr>

  <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.listing.name, listing_path(order.listing) %></td>
        <td><%= number_to_currency(order.listing.price) %></td>
        <td><%= order.buyer.name %></td>
        <td><%= order.created_at.strftime("%B %-d, %Y") %>  </td>
      </tr>
    <% end %>
  </table>
</div>



</div>
</div>


<br>
<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path %>
<% end %>


